# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Production & Build outputs
dist
dist-ssr
*.tsbuildinfo

# Local Environment Variables & Secrets
.env
.env.local
.env.*.local
!.env.example

# Cache & Temp directories
.vite
.cache
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
